# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
app/constants/api-settings.js

# Expo
.expo/
dist/
web-build/
app/constants/api-settings.js


# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
app/constants/api-settings.js


# Metro
.metro-health-check*
app/constants/api-settings.js


# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
app/constants/api-settings.js

# local env files
.env*.local
app/constants/api-settings.js

# typescript
*.tsbuildinfo
app/constants/api-settings.js
